.container-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  overflow: auto;
  align-items: center;
  height: 100vh;
  /* max-width: 750px; */
  margin: auto;
}

.input {
  width: 40%;
}

.modal-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  overflow: auto;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.modal-dropzone {
  /* width: 600px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}

.label-text {
  font-size: 14px;
  text-align: left;
}

.orText {
  margin: 11px auto;
  background: #d9d9d9;
  width: 18px;
  padding: 6px;
  border-radius: 22px;
  font-weight: 600;
}

.app-margin {
  margin: 5px 39px;
  font-weight: 600;
}

.label-container {
  text-align: left;
}

.deploy-container {
  display: flex;
  justify-content: flex-end; /* Aligns child elements to the right */
  align-items: flex-end; /* Aligns child elements to the bottom */
  position: relative; /* Needed if you want to position the button absolutely within this container */
  width: 100%;
  top: 70px;
  max-width: 700px;
}

.dropzone-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.app_icon_label {
  font-size: 14px;
  font-weight: 600;
}

.required-icon {
  color: #da3239;
  font-weight: bold;
  position: relative;
  top: -3px;
  left: -2px;
}
